* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SF UI Display;
    font-style: normal;
    line-height: normal;
    color: #FFF;
    background: rgba(26, 26, 26, 0.80);
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
}

header {
    backdrop-filter: blur(10px);
}

header .container {
    display: flex;
    gap: 8px;
}

.logo {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.logo-elem {
    color: #F6BD41;
    font-size: 18px;
    font-weight: 700;
}

h1 {
    font-size: 30px;
    font-weight: 700;
}

section .container {
    display: flex;
    flex-direction: column;
}

.playlists-wrapper {
    display: flex;
}

.title-wrapper {
    display: flex;
}

.subtitle-wrapper {
    display: flex;
    flex-direction: column;
}

.audiocover-wrapper {
    display: flex;
}

.audio-wrapper {
    display: flex;
    flex-direction: column;
}

.cover {
    width: 48px;
    height: 48px;
}

audio {
    background-color: rgba(26, 26, 26, 0.80);
    color: white;
    width: 347px;
    height: 24px;
    border-radius: 4px;
    background: #121212;
}